* {
  box-sizing: border-box;
}

.container {
  background:#f9f9f9;
  padding:25px;
  max-width:760px;
  margin:25px auto;
  overflow:hidden;
  border-radius:10px;
  border:1px solid #7fccff;
  font-family: sans-serif;
}

h1, h2 {
  margin:0;
  text-align:center;
  color:#4e8cba;
 
}

h2 {
  font-size:20px;
  text-align:center;
  border-bottom:1px solid #7fccff;
  padding: 0 0 10px;
  color:#4e8cba;
    
}

.new-task-container {
  text-align:center;
}

.box {
  padding:10px 15px;
  border:1px solid #7fccff;
  border-radius:1px;
  background:#FFF;
  margin:15px 0;
}


.todo-list {
  float:left;
  width:46%;
}

.complete-list {
  float:right;
  width:46%;
}

ul {
  list-style:none;
  padding:0;
  margin:0;
}

li{
  padding:10px;
  border-bottom:1px dotted #CCC;
}

.delete {
  float:right;
}
